<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title> Reverse Geolocation </title>



		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	</head>
	<body>

		<div class = "container center_div" id="loginForm">

			<p class="h2" style="text-align: center;"> Enter Username And Password</p>
			<form action = "/authenticate" name="credentials" method="post">

				<div class="form-group">
					<input type="text" class="form-control" name="username" id="username" placeholder="Username">
				</div>

				<div class="form-group">
					<input type="password" class="form-control" name="password" id="password" placeholder="Password">
				</div>


				<button type="submit" class="btn btn-primary" id="loginCredentials">Log In</button>
				<button type="button" style="float: right;" onclick='location.href="http://localhost:3000/signup"'; class="btn btn-primary" id="loginCredentials">Sign Up</button>
			</form>

		</div>


	</body>
</html>
