<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title> Reverse Geolocation </title>
		
		
		<style>
			html, body {
				height: 100%;
				margin: 0;
				padding: 0;
			}
			#map {
				width: 70%;
				height: 30%;
				margin-left: auto;
				margin-right: auto;

			}
		</style>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		
		
	    <script
	         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6TMYIEz7Gvy6GFydEFqOI_XQF1Tkmn5E&callback=initMap&libraries=&v=weekly&channel=2"
	         async
	     >
		 </script>
		 
		 
		<script>
			
			
			window.onload = () => {
				document.getElementById("findGpsCoordinate").onclick = () => {
					let lattitude = document.getElementById("lattitude").value;
					let longitude = document.getElementById("longitude").value;

					fetch("http://localhost:3000/findZipCode" + "?" + "lattitude=" + lattitude + "&" + "longitude=" + longitude).then(response=>response.json()).then(data=> {
						
						document.getElementById("res").innerHTML = "The ZipCode for " + lattitude + ", " + longitude + " " + "is" + " " + data.zipcode;
					});

				};
			};	
			function initMap() {
				
				
			
			  const myLatlng = { lat: 52.5200, lng: 13.4050};
			  const map = new google.maps.Map(document.getElementById("map"), {
				zoom: 10,
			    center: myLatlng,
			  });
			  // Create the initial InfoWindow.
			  let infoWindow = new google.maps.InfoWindow({
			    content: "Click the map to get Lat/Lng!",
			    position: myLatlng,
			  });
			  infoWindow.open(map);
			  // Configure the click listener.
			  map.addListener("click", (mapsMouseEvent) => {
			    // Close the current InfoWindow.
			    infoWindow.close();
			    // Create a new InfoWindow.
			    infoWindow = new google.maps.InfoWindow({
			      position: mapsMouseEvent.latLng,
			    });
    
			    infoWindow.open(map);
			  });
			}
			
		</script>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	</head>
	<body>
		
		<div class = "container center_div" id="gpsForm">

			<p class="h3" style="text-align: center; "> Enter Lattitude And Longitude Or Mark A Location</p>
			<form name="gpsCoordinates">

				<div class="form-group">
					<input type="text" class="form-control" id="lattitude" name="lattitude" placeholder="Lattitude">
				</div>

				<div class="form-group">
					<input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitude">
				</div>


				<button type="button" class="btn btn-primary" id="findGpsCoordinate">Show ZipCode</button>

			   
			</form>
			
			
		</div>
		
		<div id="map"><p> Google Maps Should Be Here</p></div>
		<p class="h3" style="text-align: center; margin:5%;" id="res"></p>
	
	</body>
</html>
